*{
    background-image: url('./pics/bg.jpg'); /* Use url(...) to specify the image path */
    background-size: cover; /* Optional: Ensures the image covers the entire element */
    background-position: center; /* Optional: Centers the image */
    background-repeat: no-repeat; /* Optional: Prevents image from repeating*/
} 
.form{
    text-align: center;
    margin-top: 3%;
}
input{
    background-color: white;
    background-image: none;
    /* opacity:0; */
    z-index: 99;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: beige;
    font-weight: 900;
}
table{
    margin: 2% 0 0 30%;
    width: 500px;
    height: 500px;
}
img {
    height: 133px;
    width: 133px;
    margin-left: 15px ;
}

@media (max-width: 600px) {
    table{
        height: 90%;
        width: 90%;
        margin: 15% 0 10% 0;
        height: 500px;
    }
    h1{
        margin : 15% 0 0 0;
    }
  }